<section>
  <div>
    <button (click)="onStart()" [disabled]="time !== 0">Start</button>
    <button (click)="onRefresh()">Refresh</button>
    <button (click)="onReSet()">ReSet</button>
  </div>
  <div>
    <p>
      錯誤次數：
      <span class="error">{{ errorCount }}</span>
      剩餘次數：
      <span>{{ 3 - errorCount }}</span>
      時間：
      <span class="time">{{ time | date: 'mm:ss' }}</span>
    </p>
  </div>
  <div class="tableWrap">
    <table>
      <tbody>
        <ng-container *ngFor="let sudokuRow of sudoku; let i = index">
          <tr [class]="'row-' + i.toString()">
            <ng-container *ngFor="let sudokuDetail of sudokuRow; let indx = index">
              <td
                *ngIf="!sudokuDetail.isInit; else disabledInput"
                [class]="'col-' + i.toString() + '-' + indx.toString()"
              >
                <input
                  type="text"
                  [ngStyle]="{'color': sudokuDetail.isError ? 'red' : 'blue' }"
                  [class]="'col-' + i.toString() + '-' + indx.toString()"
                  [maxLength]="1"
                  [value]="sudokuDetail.value"
                  [disabled]="errorCount >= 3 || allNumberCount === 0 || time === 0"
                  [ngModel]=""
                  [value]="sudokuDetail.value"
                  (ngModelChange)="handleInput(colInput, sudokuDetail)"
                  #colInput
                />
              </td>
              <ng-template #disabledInput>
                <td [class]="'col-' + i.toString() + '-' + indx.toString()">
                  <input
                    type="text"
                    [class]="'col-' + i.toString() + '-' + indx.toString()"
                    [maxLength]="1"
                    [value]="sudokuDetail.value"
                    [disabled]="sudokuDetail.isInit"
                    [style.color]="'black'"
                  />
                </td>
              </ng-template>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <h1 *ngIf="errorCount >= 3" class="over">Game Over</h1>
    <h1 *ngIf="allNumberCount === 0" class="complete">Congratulations</h1>
  </div>
  <div *ngIf="eachNumberCount" class="numberWrap">
    <ng-container *ngFor="let num of numberArr">
      <p class="numberList"
         [ngClass]="{' dark': eachNumberCount[num.toString()] === 0 }"
         [title]="eachNumberCount[num.toString()]"
        >
        {{ num }}
      </p>
    </ng-container>
  </div>
</section>
